.card {
  position: relative;
  display: block;
  /* width: 320px; */
  /* height: 160px; */
  border-radius: 10px;
  /* border-color: blue; */
  /* background: url('https://images.pexels.com/photos/2613349/pexels-photo-2613349.jpeg') 
                no-repeat 
                center center/cover; */
  /* These images can be injected with some JS */
}
