.name {
  /* height: 20px; */
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 5px;
}

.details {
  /* height: 15px; */
  font-size: 15px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.material-icons {
  margin-left: -5px;
}

.material-icons.orange600 {
  color: #fb8c00;
  text-align: center;
}

.jumbotron {
  padding: 2rem 0rem;
}

.up {
  color: #4c9900;
}
.down {
  color: #ff2e00;
}

.pl {
  font-size: 19px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 1px;
}

.up_header {
  color: white;
  background-color: #4c9900;
}

.down_header {
  color: white;
  background-color: #ff2e00;
}

.flat_header {
  color: white;
  background-color: black;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

.jumbotron {
  border-style: solid;
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background: white;
  border: 0.5px;
  border-color: black;
  padding: 1rem 0rem;
}

table.summary td {
  /* background-color: lime; */
  /* margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px; */
}

table.summary {
  border-collapse: separate;
  border-spacing: 12px;
  *border-collapse: expression("separate", cellSpacing = "10px");
}
