.td-column-size {
  font-size: small;
  font-weight: bold;
}

.td-column-price-down {
  /* animation: blinker 1s linear infinite; */
  color: #ff2e00;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.td-column-price-up {
  color: #4c9900;
}

.bstable-header-bold {
  font-weight: bold;
}

.twenty {
  width: 20%;
}

.forty {
  width: 40%;
}

.bstable {
  font-size: small;
  /* padding-left: 0.25em;
  padding-right: 0.25em; */
}

.vertical-align-middle {
  vertical-align: middle;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.material-icons {
  margin-left: -5px;
}

.material-icons.orange600 {
  color: #fb8c00;
  text-align: center;
}

ul {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

li {
  list-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.name {
  height: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 5px;
}

.details {
  height: 10px;
  font-size: 11px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table {
  margin-bottom: 0.25em;
}

.table td {
  padding: 0.2em;
  margin-left: 10px;
  vertical-align: middle;
  border: 0px;
}

.table tr {
  /* line-height: 0.5em; */
  border: 0px;
}

.table th {
  margin-left: 10px;
  padding: 0.2em;
  border: 0px;
}

td.bstable-icon {
  text-align: right;
}
